ul {
    position: absolute;
    top: 320px;
    left: 20px;
    white-space: nowrap;
}

#radios-btn {
    position: absolute;
    top: 270px;
    left: 50px;
    white-space: nowrap;
}

h1 {
    position: absolute;
    top: 150px;
    left: 20px;
    color: #F63E3E;
    white-space: nowrap;
}

h2 {
    position: absolute;
    top: 280px;
    left: 20px;
}

.back-button {
    position: absolute;
    border: 0;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    top: 220px;
    left: 20px;
    cursor: pointer;
}

footer {
    display: none;
}

@media (max-width: 1510px) {
    #radios-btn {
        top: 235px;
    }

    ul {
        top: 300px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        top: 250px;
    }

    .back-button {
        top: 195px;
        font-size: 14px;
    }
}


@media (max-height: 850px) {
    #radios-btn {
        top: 180px;
    }

    h1 {
        top: 95px;
        font-size: 20px;
    }

    .back-button {
        top: 140px;
        font-size: 14px;
    }

    h2 {
        top: 200px;
    }

    ul {
        top: 250px;
    }
}

.keywords_cloud{
    position: absolute;
    top: 150px;
    right: 20px;
}