.login-form {
    position: absolute;
    top: 150px;
    width: 98%;
    display: flex;
    justify-content: center;
}

.log-button {
    appearance: none;
    border: 0;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 5px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

a {
    color: black;
}

.error-text {
    font-size: 12px;
    width: 200px;
}

@media (max-width: 1220px) {
    .login-form {
        width: 1220px;
    }
}