#uk-map {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 590px;
    width: 890px;
    margin: 0 auto;
}

.users {
    position: absolute;
    top: 655px;
    left: 1527px;
    white-space: nowrap;
}

.users.card {
    padding: 0px 15px;
}

.users img {
    margin-right: 15px;
}


.article {
    position: absolute;
    top: 655px;
    left: 1175px;
    white-space: nowrap;
}

.article.card {
    padding: 0px 15px;
}

.article img {
    margin-right: 15px;
}


.student {
    position: absolute;
    top: 655px;
    left: 787px;
    white-space: nowrap;
}

.student.card {
    padding: 0px 15px;
}

.student img {
    margin-right: 15px;
}


.university {
    position: absolute;
    top: 655px;
    left: 38px;
    white-space: nowrap;
}

.university.card {
    padding: 0px 15px;
}

.university img {
    margin-right: 15px;
}

.scientists {
    position: absolute;
    top: 655px;
    left: 427px;
    white-space: nowrap;
}

.scientists.card {
    padding: 0px 15px;
}

.scientists img {
    margin-right: 15px;
}

#uk-map.card {
    padding: 10px 10px;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
}

.loading {
    position: absolute;
    top: 400px;
    right: 50px;
    text-align: center;
    color: gray;
}


main {
    position: absolute;
    top: 13.7%;
    left: 0;
    width: 100%;
    height: 80%;
}

ul {
    position: absolute;
    top: 100px;
}

ul.card {
    padding: 10px 10px;
}

li {
    margin-bottom: 30px;
}

.title-rating {
    position: absolute;
    color: black;
    top: 50px;
    left: 300px;
}

#red-square {
    position: absolute;
    width: 9px;
    height: 20px;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 10px 16px;
    left: 57.5px;
}

#grey-square {
    position: absolute;
    width: 9px;
    height: 20px;
    border-radius: 7px;
    background: #C0C0C0;
    color: white;
    padding: 10px 16px;
    left: 57.5px;
    text-align: center;
}

#square-ten {
    position: absolute;
    width: 15px;
    height: 20px;
    border-radius: 7px;
    background: #C0C0C0;
    color: white;
    padding: 10px 13px;
    left: 57.5px;
    text-align: center;
}

.rating-text {
    position: absolute;
    left: 96px;
    padding-left: 20px;
    padding-top: 10px;
    white-space: nowrap;
    font-size: 15.4px;
}

#rectangle {
    position: absolute;
    left: 94px;
    width: 622px;
    height: 30px;
    border-radius: 0px 7px 7px 0px;
    padding-left: 22px;
    padding-top: 10px;
    background: #E0E0E0;
    white-space: nowrap;
    font-size: 15.4px;
}



@media (max-height: 855px) {
    .university {
        top: 590px;
    }

    .scientists {
        top: 590px;
    }

    .student {
        top: 590px;
    }

    .users {
        top: 590px;
    }

    .article {
        top: 590px;
    }

    #uk-map {
        top: 10px;
        height: 500px;
    }

    .title-rating {
        top: -10px;
    }

    ul {
        top: 60px;
    }
}


@media (max-width: 1880px) {
    .users {
        left: 1487px;
    }
    
    
    .article {
        left: 1155px;
    }

    .university {
        left: 78px;
    }
    
    .scientists {
        left: 447px;
    }
}


@media (max-width: 1840px) {
    .users {
        left: 1437px;
    }
    
    
    .article {
        left: 1105px;
    }

    .university {
        left: 28px;
    }
    
    .scientists {
        left: 397px;
    }

    .student {
        left: 737px;
    }
}


@media (max-width: 1785px) {
    .users {
        left: 1317px;
    }
    .users img {
        height: 70px;
    }
    
    
    .article {
        left: 1015px;
    }
    .article img {
        height: 70px;
    }

    .university {
        left: 28px;
    }
    .university img {
        height: 70px;
    }
    
    .scientists {
        left: 367px;
    }
    .scientists img {
        height: 70px;
    }

    .student {
        left: 677px;
    }
    .student img {
        height: 70px;
    }
}


@media (max-width: 1785px) {
    .users {
        left: 1026px;
        font-size: 12px;
    }
    .users img {
        height: 40px;
    }
    
    
    .article {
        left: 792px;
        font-size: 12px;
    }
    .article img {
        height: 40px;
    }

    .university {
        left: 28px;
        font-size: 12px;
    }
    .university img {
        height: 40px;
    }
    
    .scientists {
        left: 290px;
        font-size: 12px;
    }
    .scientists img {
        height: 40px;
    }

    .student {
        left: 531px;
        font-size: 12px;
    }
    .student img {
        height: 40px;
    }
}


@media (max-width: 1785px) {
    .users {
        left: 971px;
        font-size: 12px;
    }
    .users img {
        height: 40px;
    }
    
    
    .article {
        left: 747px;
        font-size: 12px;
    }
    .article img {
        height: 40px;
    }

    .university {
        left: 13px;
        font-size: 12px;
    }
    .university img {
        height: 40px;
    }
    
    .scientists {
        left: 265px;
        font-size: 12px;
    }
    .scientists img {
        height: 40px;
    }

    .student {
        left: 496px;
        font-size: 12px;
    }
    .student img {
        height: 40px;
    }
}


@media (max-width: 1700px) {
    #uk-map {
        right: 30px;
        width: 800px;
    }
}


@media (max-width: 1570px) {
    #uk-map {
        right: 30px;
        width: 700px;
    }
}


@media (max-width: 1590px) {
    #red-square {
        position: absolute;
        width: 8px;
        height: 19px;
        padding: 8px 14px;
        left: 27.5px;
    }
    
    #grey-square {
        position: absolute;
        width: 8px;
        height: 19px;
        border-radius: 7px;
        padding: 8px 14px;
        left: 27.5px;
        text-align: center;
    }

    #square-ten {
        width: 14px; 
        padding: 8px 11px;
        left: 27.5px;
    }
    
    .rating-text {
        position: absolute;
        left: 66px;
        padding-left: 13.5px;
        padding-top: 10px;
        white-space: nowrap;
        font-size: 15.4px;
    }
    
    #rectangle {
        position: absolute;
        left: 58px;
        width: 622px;
        height: 26px;
        border-radius: 0px 7px 7px 0px;
        padding-left: 22px;
        padding-top: 9px;
        font-size: 14.4px;
    }
}




@media (max-width: 1510px) {
    .title-rating {
        top: 30px;
    }

    ul {
        top: 80px;
    }
}


@media (max-width: 1470px) {
    #uk-map {
        right: 30px;
        width: 580px;
    }
}


@media (max-width: 1410px) {
    ul {
        top: 60px;
    }

    .title-rating {
        left: 235px;
    }

    .title-rating img {
        width: 20px;
    }
}



@media (max-height: 840.98px) {
    .university {
        top: 540px;
    }

    .scientists {
        top: 540px;
    }

    .student {
        top: 540px;
    }

    .users {
        top: 540px;
    }

    .article {
        top: 540px;
    }

    .title-rating {
        top: -5px;
    }

    ul {
        top: 15px;
    }

    .small-gr {
        width: 29.25px;
        height: auto;
    }
}


@media (max-height: 750px) {
    .university {
        top: 490px;
    }

    .scientists {
        top: 490px;
    }

    .student {
        top: 490px;
    }

    .users {
        top: 490px;
    }

    .article {
        top: 490px;
    }

    #uk-map {
        top: 15px;
        height: 450px;
    }

    li {
        margin-bottom: 25px;
    }

    .title-rating {
        top: 3px;
        left: 270px;
    }

    .title-rating img {
        width: 20px;
    }

    #red-square {
        position: absolute;
        width: 8px;
        height: 19px;
        padding: 8px 14px;
        left: 27.5px;
    }
    
    #grey-square {
        position: absolute;
        width: 8px;
        height: 19px;
        border-radius: 7px;
        padding: 8px 14px;
        left: 27.5px;
        text-align: center;
    }

    #square-ten {
        width: 14px; 
        padding: 8px 11px;
        left: 27.5px;
    }
    
    .rating-text {
        position: absolute;
        left: 66px;
        padding-left: 13.5px;
        padding-top: 10px;
        white-space: nowrap;
        font-size: 15.4px;
    }
    
    #rectangle {
        position: absolute;
        left: 58px;
        width: 622px;
        height: 26px;
        border-radius: 0px 7px 7px 0px;
        padding-left: 22px;
        padding-top: 9px;
        font-size: 14.4px;
    }
}


@media (max-width: 1410px) {
    #rectangle {
        width: 497.6px;
        font-size: 11.52px;
    }

    .rating-text {
        font-size: 11.52px;
    }
}

@media (max-width: 1220px) {
    #uk-map {
        left: 590px;
    }
}