a {
    color: black;
}


#canvas_div {
    position: absolute;
    top: 440px;
    right: 20px;
    width: 500px;
}


#stat-info {
    position: absolute;
    top: 710px;
    right: 100px;
}


.profile-photo {
    position: absolute;
    top: 195px;
    left: 86px;
}

.name {
    position: absolute;
    top: 150px;
    left: 192px;
    font-size: 38px;
}

.radios-btn {
    position: absolute;
    top: 420px;
    left: 120px;
    white-space: nowrap;
}

.univer-button {
    position: absolute;
    border: 0;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    top: 350px;
    left: 20px;
    cursor: pointer;
}

.depart-button {
    position: absolute;
    border: 0;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    top: 350px;
    left: 180px;
    cursor: pointer;
}

.about-title {
    position: absolute;
    top: 150px;
    right: 260px;
}

.urls-title {
    position: absolute;
    top: 320px;
    right: 540px;
}

.urls-list {
    position: absolute;
    top: 360px;
    right: 474px;
}

.univer {
    position: absolute;
    top: 210px;
    right: 270px;
}

.univer-value {
    position: absolute;
    top: 240px;
    right: 30px;
}

.degree {
    position: absolute;
    top: 320px;
    right: 322px;
}

.degree-value {
    position: absolute;
    top: 350px;
    right: 280px;
}

.science {
    position: absolute;
    top: 320px;
    right: 120px;
}

.science-value {
    position: absolute;
    top: 350px;
    right: 20px;
}

.google-articles {
    position: absolute;
    top: 500px;
    left: 20px;
    font-size: smaller;
    white-space: nowrap;
}

.publon-articles {
    position: absolute;
    top: 570px;
    left: 20px;
    font-size: smaller;
    white-space: nowrap;
}

.publon-title {
    position: absolute;
    top: 530px;
    left: 260px;
}

.scopus-articles {
    position: absolute;
    top: 570px;
    left: 20px;
    font-size: smaller;
    white-space: nowrap;
}

.scopus-title {
    position: absolute;
    top: 530px;
    left: 260px;
}

footer {
    display: none;
}


@media (max-height: 850.20px) {
    .profile-photo {
        top: 125px;
    }
    
    .name {
        top: 80px;
        font-size: 38px;
    }

    .about-title {
        top: 90px;
    }
    
    .urls-title {
        top: 260px;
    }
    
    .urls-list {
        top: 300px;
    }
    
    .univer {
        top: 150px;
    }
    
    .univer-value {
        top: 190px;
    }
    
    .degree {
        top: 260px;
    }
    
    .degree-value {
        top: 290px;
    }
    
    .science {
        top: 260px;
    }
    
    .science-value {
        top: 290px;
    }

    .univer-button {
        top: 280px;
    }

    .depart-button {
        top: 280px;
    }
}


@media (max-width: 1250px) {
    #stat-info {
        left: 834px;
        white-space: nowrap;
    }

    #canvas_div {
        left: 770px;
    }

    .about-title {
        left: 750px;
        white-space: nowrap;
    }
    
    .urls-title {
        left: 557px;
        white-space: nowrap;
    }
    
    .urls-list {
        left: 557px;
        white-space: nowrap;
    }
    
    .univer {
        left: 550px;
        white-space: nowrap;
    }
    
    .univer-value {
        left: 550px;
        white-space: nowrap;
    }
    
    .degree {
        left: 752px;
        white-space: nowrap;
    }
    
    .degree-value {
        left: 752px;
        white-space: nowrap;
    }
    
    .science {
        left: 999px;
        white-space: nowrap;
    }
    
    .science-value {
        left: 954px;
        white-space: nowrap;
    }

    nav {
        width: 1300px;
    }
}

.keywords_cloud{
    position: absolute;
    top: 200px;
    left: 1000px;
}