a {
    color: black;
}


.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
}

#photo-name {
    width: 400px;
}

#canvas_div {
    position: absolute;
    top: 466px;
    right: 20px;
    width: 500px;
}

#canvas_div.card {
    padding: 5px 25px;
}

#stat-info {
    position: absolute;
    top: 740px;
    right: 20px;
    width: 300px;
    padding: 0px 20px;
}


.profile-photo {
    position: absolute;
    top: 195px;
    left: 86px;
}

.name {
    position: absolute;
    top: 150px;
    left: 192px;
    font-size: 38px;
}

.radios-btn {
    position: absolute;
    top: 420px;
    left: 20px;
    white-space: nowrap;
}

.radios-btn.card {
    padding: 0px 15px;
    padding-bottom: 15px;
}

.univer-button {
    position: absolute;
    border: 0;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    top: 350px;
    left: 20px;
    cursor: pointer;
}

.depart-button {
    position: absolute;
    border: 0;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    top: 350px;
    left: 180px;
    cursor: pointer;
}

.about-title {
    position: absolute;
    top: 150px;
    right: 200px;
}

.urls-title {
    position: absolute;
    top: 320px;
    right: 488px;
}

.urls-list {
    position: absolute;
    top: 360px;
    right: 486px;
}

.urls-list.card {
    padding: 10px 10px;
    width: 128px;
}

.univer {
    position: absolute;
    top: 210px;
    right: 20px;
}

.univer-value {
    position: absolute;
    top: 245px;
    right: 20px;
    width: 650px;
}

.univer-value.card {
    padding: 10px 10px;
    text-align: center;
}

.degree {
    position: absolute;
    top: 320px;
    right: 334px;
}

.degree-value {
    position: absolute;
    top: 358px;
    right: 297px;
    width: 150px;
}

.degree-value.card {
    padding: 5px 10px;
    text-align: center;
}

.science {
    position: absolute;
    top: 320px;
    right: 132px;
}

.science-value {
    position: absolute;
    top: 357px;
    right: 20px;
    width: 250px;
    text-align: center;
}

.science-value.card {
    padding: 5px 10px;
}

.google-articles {
    position: absolute;
    top: 500px;
    left: 20px;
    font-size: smaller;
    white-space: nowrap;
}

.publon-articles {
    position: absolute;
    top: 570px;
    left: 20px;
    font-size: smaller;
    white-space: nowrap;
}

.publon-title {
    position: absolute;
    top: 530px;
    left: 260px;
}

.scopus-articles {
    position: absolute;
    top: 570px;
    left: 20px;
    font-size: smaller;
    white-space: nowrap;
}

.scopus-title {
    position: absolute;
    top: 530px;
    left: 260px;
}

footer {
    display: none;
}



@media (max-height: 850.20px) {
    .profile-photo {
        top: 125px;
    }
    
    .name {
        top: 80px;
        font-size: 38px;
    }

    .about-title {
        top: 90px;
    }
    
    .urls-title {
        top: 260px;
    }
    
    .urls-list {
        top: 300px;
    }
    
    .univer {
        top: 150px;
    }
    
    .univer-value {
        top: 190px;
    }
    
    .degree {
        top: 260px;
    }
    
    .degree-value {
        top: 290px;
    }
    
    .science {
        top: 260px;
    }
    
    .science-value {
        top: 290px;
    }

    .univer-button {
        top: 280px;
    }

    .depart-button {
        top: 280px;
    }
}


@media (max-width: 1270px) {
    #stat-info {
        left: 834px;
        white-space: nowrap;
    }

    #canvas_div {
        left: 730px;
    }

    .about-title {
        left: 790px;
        white-space: nowrap;
    }
    
    .urls-title {
        left: 597px;
        white-space: nowrap;
    }
    
    .urls-list {
        left: 597px;
        white-space: nowrap;
    }
    
    .univer {
        left: 590px;
        white-space: nowrap;
    }
    
    .univer-value {
        left: 590px;
        white-space: nowrap;
    }
    
    .degree {
        left: 792px;
        white-space: nowrap;
    }
    
    .degree-value {
        left: 792px;
        white-space: nowrap;
    }
    
    .science {
        left: 1039px;
        white-space: nowrap;
    }
    
    .science-value {
        left: 994px;
        white-space: nowrap;
    }

    nav {
        width: 1300px;
    }
}