a {
    color: black;
}

table {
    position: absolute;
    top: 150px;
    left: 20px;
    white-space: nowrap;
    padding-bottom: 50px;
}

th {
    border-bottom: 2px solid black;
}

footer {
    display: none;
}