table {
    position: absolute;
    top: 340px;
    left: 20px;
    padding-bottom: 50px;
}

th {
    border-bottom: 2px solid black;
}

#radios-btn {
    position: absolute;
    top: 270px;
    left: 50px;
    white-space: nowrap;
}

h1 {
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 20px;
    color: #F63E3E;
}

h2 {
    position: absolute;
    top: 290px;
    left: 20px;
    white-space: nowrap;
}

h3 {
    position: absolute;
    top: 210px;
    left: 430px;
}

.univer-rating-button {
    position: absolute;
    border: 0;
    border-radius: 7px;
    background: #F73E3E;
    color: white;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    top: 220px;
    left: 20px;
    cursor: pointer;
}

footer {
    display: none;
}

@media (max-width: 1510px) {
    #radios-btn {
        top: 235px;
    }

    table {
        top: 300px;
    }

    h1 {
        font-size: 20px;
        white-space: nowrap;
    }

    h2 {
        top: 250px;
    }
    
    h3 {
        top: 185px;
        left: 315px;
        font-size: 15px;
    }

    .univer-rating-button {
        top: 195px;
        font-size: 14px;
    }
}

@media (max-height: 850px) {
    #radios-btn {
        top: 180px;
    }

    h1 {
        top: 95px;
        font-size: 20px;
    }

    .univer-rating-button {
        top: 140px;
        font-size: 14px;
    }

    h2 {
        top: 200px;
    }

    h3 {
        top: 135px;
        font-size: 15px;
    }

    table {
        top: 250px;
    }
    
}

.keywords_cloud{
    position: absolute;
    top: 150px;
    right: 20px;
}