table {
    position: absolute;
    top: 900px;
    left: 20px;
    width: 1100px;
    font-size: 13.5px;
}

footer {
    display: none;
}

.radios-btn {
    position: absolute;
    top: 750px;
    left: 50px;
    width: 1100px;
}

a {
    color: black;
}

#canvas_div {
    position: absolute;
    top: 160px;
    left: 20px;
}

#canvas_div2 {
    position: absolute;
    top: 160px;
    left: 220px;
}

#canvas_div3 {
    position: absolute;
    top: 160px;
    left: 420px;
}

#canvas_div4 {
    position: absolute;
    top: 160px;
    left: 620px;
}

#canvas_div5 {
    position: absolute;
    top: 420px;
    left: 20px;
}


@media (max-height: 850px) {
    table {
        top: 780px;
    }
    
    .radios-btn {
        top: 640px;
    }

    #canvas_div {
        top: 100px;
    }
    
    #canvas_div2 {
        top: 100px;
    }
    
    #canvas_div3 {
        top: 100px;
    }
    
    #canvas_div4 {
        top: 100px;
    }
    
    #canvas_div5 {
        top: 330px;
    }
}