table {
    position: absolute;
    top: 900px;
    left: 20px;
    width: 1100px;
    padding-bottom: 50px;
    font-size: 13.5px;
}

th {
    border-bottom: 2px solid black;
}

#reg-select {
    position: absolute;
    top: 721px;
    left: 790px;
    font-size: 13px;
}

#radios-btn {
    position: absolute;
    top: 720px;
    left: 50px;
    font-size: 13px;
    white-space: nowrap;
}

footer {
    display: none;
}

.check-btn {
    position: absolute;
    top: 750px;
    left: 50px;
    width: 1100px;
}

a {
    color: black;
}

#canvas_div {
    position: absolute;
    top: 150px;
    left: 20px;
}

#canvas_div2 {
    position: absolute;
    top: 150px;
    left: 275px;
}

#canvas_div3 {
    position: absolute;
    top: 150px;
    left: 530px;
}

#canvas_div4 {
    position: absolute;
    top: 150px;
    left: 785px;
}

#canvas_div5 {
    position: absolute;
    top: 420px;
    left: 120px;
}


@media (max-height: 850px) {
    #reg-select {
        top: 654px;
        left: 741px;
    }

    #radios-btn {
        top: 653px;
        font-size: 12px;
    }

    table {
        top: 800px;
    }
    
    .check-btn {
        top: 673px;
        font-size: 13px;
    }

    #canvas_div {
        top: 100px;
    }
    
    #canvas_div2 {
        top: 100px;
    }
    
    #canvas_div3 {
        top: 100px;
    }
    
    #canvas_div4 {
        top: 100px;
    }
    
    #canvas_div5 {
        top: 370px;
    }
}