<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="shortcut icon" href="/static/img/ScienceRaitingLogo.ico" type="image/x-icon">
    
    <title>Science Rating</title>
</head>
<body>
    <header>
        <nav>
            <p>
                <a href="/"><img class="logo-image" src="/static/img/ScienceRaitingLogo.png" alt="logo"></a>

                <p class="nav-about">СИСТЕМА ОЦІНЮВАННЯ<br>НАУКОВО-ДОСЛІДНОЇ РОБОТИ</p>

                <button class="nav-language-button">UA</button>

                <a class="nav-page-one"  style="color: {{ color_page_one }};" href="/">Рейтинг ЗВО</a>
                <div class="vl-one"></div>
                <!-- <a class="nav-page-two" href="" style="color: {{ color_page_two }};">Рейтинг НИИ</a> -->
                <!-- <div class="vl-two"></div> -->
                <a class="nav-page-three" href="" style="color: {{ color_page_three }};">Рейтинг вчених</a>

                <button class="search-button" onclick="location.href='/search'">Пошук</button>
                {% if current_user.is_authenticated %}
                    <button class="nav-login-button" onclick="location.href='/logout'">Вийти</button>
                {% else %}
                    <button class="nav-login-button" onclick="location.href='/login'">Увійти</button>
                {% endif %}
            </p>
        </nav>
    </header>

    <main role="main">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>
            Розробка методів аналізу якості науково-дослідної роботи вчених, ЗВО МОН України та окремих структурних підрозділів 
        </p>
        <p>
            Керівник НДР д.т.н., доц. Олександр КУЧАНСЬКИЙ kuczanski@gmail.com
        </p>
        <p class="footer-news">
      
        </p>
<!--        <div class="vl-time"></div>-->
        <p class="footer-date">
            Київський національний університет імені Тараса Шевченка<br>
            2021
        </p>
        <p class="footer-time">
            
        </p>
        <p>
          
        </p>
    </footer>
</body>
</html>