{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/login.css">

<div class="login-form">
    <form action="" method="post">
        <h1>Авторизація</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control") }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
        </p>
        <p>{{ form.submit(type="submit", class="log-button") }}</p>
        <p>або</p>
        <a href="/register">Зареєструватися</a>
        <p class="error-text">{{ msg }}</p>
    </form>
</div>
{% endblock %}