{% extends "base.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>
<script>
    function show_cit() {
        var info = {{ graph | tojson }};
        if (info['years']) {
            let d = document.getElementById('canvas_div');

            let el1 = document.getElementById('canvas_div');
            let el2 = document.getElementById('myChart');
            el1.removeChild(el2);
            let el3 = document.createElement('canvas');
            el3.id = 'myChart';
            el1.appendChild(el3);

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: info['years'],
                    datasets: [{
                        data: info['gr'],
                        backgroundColor: info['colors'],
                        borderWidth: 1,
                        borderColor: '#00'
                    }]
                },

                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Посилань за рік',
                        }
                    }
                }
            });
        }
    };
    window.onload = function() {
        show_cit();
    };

    function radio_check() {
        let show_article = document.querySelectorAll('input[type="radio"]');

        for (radio of show_article) {
            if (radio.checked && radio.value == 'google') {
                let art = document.getElementById('google');
                if (art) {
                    art.style.display='block';
                }

                let art2 = document.getElementById('publon');
                if (art2) {
                    art2.style.display='none';
                }
                
                let art3 = document.getElementById('scopus');
                if (art3) {
                    art3.style.display='none';
                }
            } else if (radio.checked && radio.value == 'publon') {
                let art = document.getElementById('publon');
                if (art) {
                    art.style.display='';
                }

                let art2 = document.getElementById('scopus');
                if (art2) {
                    art2.style.display='none';
                }

                let art3 = document.getElementById('google');
                if (art3) {
                    art3.style.display='none';
                }
            } else if (radio.checked && radio.value == 'scopus') {
                let art = document.getElementById('scopus');
                if (art) {
                    art.style.display='';
                }

                let art2 = document.getElementById('google');
                if (art2) {
                    art2.style.display='none';
                }

                let art3 = document.getElementById('publon');
                if (art3) {
                    art3.style.display='none';
                }
            }
        }
    }
</script>

<link rel="stylesheet" href="/static/css/scientist_info.css">

{% if photo %}
    <img class="profile-photo card" src="{{ scientist[7] }}" alt="profile">
{% else %}
    <h3 class="profile-photo">Немає фото</h3>
{% endif %}

<ul class="name" type=none>
    {% for i in scientist[0] %}
        <li>{{ i }}</li>
    {% endfor %}
</ul>


{% if google_articles %}
    <div id="canvas_div" class="card">
        <canvas id="myChart"></canvas>
    </div>
{% endif %}


{% if stat_info %}
    <div id='stat-info' class="card">
        {% for i in stat_info %}
            <h3>{{ i }}</h3>
        {% endfor %}
    </div>
{% endif %}


<div class="radios-btn card">
    {% if google_articles or publon_articles or scopus_articles %}
    <p>Статті</p>
    {% endif %}
    {% if google_articles %}
        <input onclick="radio_check()" type="radio" id="google-article" name="article-to-show" value="google" checked>
        <label for="google-article">Google Scholar</label>
    {% endif %}

    {% if publon_articles %}
        <input onclick="radio_check()" type="radio" id="publon-article" name="article-to-show" value="publon">
        <label for="publon-article">Publons</label>
    {% endif %}

    {% if scopus_articles %}
        <input onclick="radio_check()" type="radio" id="scopus-article" name="article-to-show" value="scopus">
        <label for="scopus-article">Scopus</label>
    {% endif %}
</div>


{% if univer_id %}
    <button class="univer-button" onclick="location.href='/university_info/{{ univer_id }}'">Університет</button>
{% endif %}
{% if depart_id %}
    <button class="depart-button" onclick="location.href='/department_info/{{ depart_id }}'">Департамент</button>
{% endif %}

<div id="google" style="display: block;">
    {% if google_articles %}
        <table class="google-articles">
            <tbody>
                <tr>
                    <th colspan="3" height=80px style="font-size: large;">Google Scholar</th>
                </tr>
                <tr>
                    <th>Назва</th>
                    <th>Процитовано</th>
                    <th>Рік</th>
                </tr>
                {% for article in google_articles %}
                    <tr>
                        <td>
                            <a href="{{ article[0][1] }}">{{ article[0][0] }}</a>
                            <br>
                            <div>{{ article[1] }}</div>
                            <div>{{ article[2] }}</div>
                        </td>
                        <td align="center" height=60px><a href="{{ article[3][1] }}">{{ article[3][0] }}</a></td>
                        <td align="center">{{ article[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>


<div id="publon" style="display: none;">
    {% if publon_articles and publon_articles != "no access" %}
        <div class="publon-title">Publons</div>

        <ul class="publon-articles" type=none>
            {% for article in publon_articles %}
                <li><a href="{{ article[0] }}">{{ article[1] }}</a><br>Опубліковано: {{ article[2] }} в <a href="{{ article[3] }}">{{ article[4] }}</a></li>
                <br>
            {% endfor %}
        </ul>
    {% elif publon_articles == "no access" %}
        <div class="publon-title">Publons</div>
        <h3 style="position: absolute; top: 555px; left: 237px; font-size: medium;">Недоступний</h3>
    {% endif %}
</div>


<div id="scopus" style="display: none;">
    {% if scopus_articles %}
        <div class="scopus-title">Scopus</div>

        <ul class="scopus-articles" type=none>
            {% for artic in scopus_articles %}
                <li>{{ artic[0] }}<br><br>Опубліковано в {{ artic[1] }}<br>{{ artic[2] }}<br>Цитовано: {{ artic[3] }}<br>Співавтори: {% for j in artic[4] %}<a href="{{ j[1] }}">{{ j[0] }}</a>{% if loop.index != artic[4]|length %}, {% endif %}{% endfor %}</li>
                <br>
            {% endfor %}
        </ul>
    {% endif %}
</div>


<h1 class="about-title">Про вченого</h1>

{% if scientist[1] or scientist[2] or scientist[3] %}
    <h2 class="urls-title">Посилання</h2>
{% endif %}
<ul class="urls-list card" type=none>
    {% if scientist[1] %}
        <li><a href="{{ scientist[1] }}">Google Scholar</a></li>
    {% endif %}

    {% if scientist[2] %}
        <li><a href="{{ scientist[2] }}">Scopus</a></li>
    {% endif %}

    {% if scientist[3] %}
        <li><a href="{{ scientist[3] }}">Publons</a></li>
    {% endif %}
</ul>

{% if univer_id %}
<h2 class="univer">Університет</h2>
<h3 class="univer-value card">{{ scientist[4] }}</h3>
{% endif %}

{% if scientist[5] %}
    <h2 class="degree">Ступінь</h2>
    <h3 class="degree-value card">{{ scientist[5] }}</h3>
{% endif %}

{% if scientist[6] %}
    <h2 class="science">Наука</h2>
    <h3 class="science-value card">{{ scientist[6] }}</h3>
{% endif %}
{% endblock %}