{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/scientist_info.css">

{% if photo %}
    <img class="profile-photo" src="{{ scientist[7] }}" alt="profile">
{% else %}
    <h3 class="profile-photo">Нет фото</h3>
{% endif %}

<ul class="name" type=none>
    {% for i in scientist[0] %}
        <li>{{ i }}</li>
    {% endfor %}
</ul>

<button class="univer-button" onclick="location.href='/university_info/{{ univer_id }}'">Университет</button>
{% if depart_id %}
    <button class="depart-button" onclick="location.href='/department_info/{{ depart_id }}'">Департамент</button>
{% endif %}

{% if google_articles %}
    <table class="google-articles">
        <tbody>
            <tr>
                <th colspan="3" height=80px style="font-size: large;">Google Scholar</th>
            </tr>
            <tr>
                <th>Название</th>
                <th>Процитировано</th>
                <th>Год</th>
            </tr>
            {% for article in google_articles %}
                <tr>
                    <td>
                        <a href="{{ article[0][1] }}">{{ article[0][0] }}</a>
                        <br>
                        <div>{{ article[1] }}</div>
                        <div>{{ article[2] }}</div>
                    </td>
                    <td align="center" height=60px><a href="{{ article[3][1] }}">{{ article[3][0] }}</a></td>
                    <td align="center">{{ article[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </ul>
{% endif %}



{% if publon_articles and publon_articles != "no access" %}
    <div class="publon-title">Publons</div>

    <ul class="publon-articles" type=none>
        {% for article in publon_articles %}
            <li><a href="{{ article[0] }}">{{ article[1] }}</a><br>Опубликовано: {{ article[2] }} в <a href="{{ article[3] }}">{{ article[4] }}</a></li>
            <br>
        {% endfor %}
    </ul>
{% elif publon_articles == "no access" %}
    <div class="publon-title">Publons</div>
    <h3 style="position: absolute; top: 485px; left: 900px; font-size: medium;">Не доступен</h3>
{% endif %}



<h1 class="about-title">Об учёном</h1>

{% if scientist[1] or scientist[2] or scientist[3] %}
    <h2 class="urls-title">Ссылки</h2>
{% endif %}
<ul class="urls-list" type=none>
    {% if scientist[1] %}
        <li><a href="{{ scientist[1] }}">Google Scholar</a></li>
    {% endif %}

    {% if scientist[2] %}
        <li><a href="{{ scientist[2] }}">Scopus</a></li>
    {% endif %}

    {% if scientist[3] %}
        <li><a href="{{ scientist[3] }}">Publons</a></li>
    {% endif %}
</ul>

<h2 class="univer">Университет</h2>
<h3 class="univer-value">{{ scientist[4] }}</h3>

{% if scientist[5] %}
    <h2 class="degree">Степень</h2>
    <h3 class="degree-value">{{ scientist[5] }}</h3>
{% endif %}

{% if scientist[6] %}
    <h2 class="science">Наука</h2>
    <h3 class="science-value">{{ scientist[6] }}</h3>
{% endif %}
{% endblock %}