{% extends "base.html" %}
{% block content %}
<script>
    function radio_check() {
        let show_items = document.querySelectorAll('input[type="radio"]');

        for (rad of show_items) {
            if (rad.checked && rad.value == "normal") {
                let it = document.getElementById("normal");
                if (it) {
                    it.style.display="block";
                }

                let it2 = document.getElementById("kw");
                if (it2) {
                    it2.style.display="none";
                }
            } else if (rad.checked && rad.value == "kw") {
                let it = document.getElementById("kw");
                if (it) {
                    it.style.display="block";
                }

                let it2 = document.getElementById("normal");
                if (it2) {
                    it2.style.display="none";
                }
            }
        }
    }
</script>

<link rel="stylesheet" href="/static/css/search.css">

<form id="search-form" action="" method="post">
    <p>Пошук університетів/науковців</p>
    <p><input class="search_inp" type="text" name="inp_val" value="{{ value }}"></p>
    <p><input class="subm-button" type="submit" value="Знайти"></p>
</form>


<div id="radios-btn">
    Пошук: 
    <input onclick="radio_check()" type="radio" id="normal-rad" name="fd-show" value="normal" checked>
    <label for="normal-rad">За іменем</label>

    <input onclick="radio_check()" type="radio" id="kw-rad" name="fd-show" value="kw">
    <label for="kw-rad">За напрямом дослідження</label>
</div>


{% if value %}
    <div id="normal" style="display: block;">
        <div class="univers">
            <ul type=none>
                <p>Університети</p>
                {% for i in univers %}
                <li><a href="/university_info/{{ i[1] }}">{{ i[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="scientists">
            <ul type=none>
                <p>Вчені</p>
                {% for i in scientists %}
                <li><a href="/scientist_info/{{ i[1] }}">{{ i[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="kw" style="display: none;">
        <div class="univers">
            <ul type=none>
                <p>Університети</p>
                {% for i in univers_kw %}
                <li><a href="/university_info/{{ i[1] }}">{{ i[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="scientists">
            <ul type=none>
                <p>Вчені</p>
                {% for i in scientists_kw %}
                <li><a href="/scientist_info/{{ i[1] }}">{{ i[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}