{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/rating.css">
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/ua/ua-all.js"></script>
<script>
    function uk() {
            var jsn = {{ map_uk|tojson }};
            console.log(jsn);
            var data = [
            ['ua-my', jsn['ua-my']],
            ['ua-ks', jsn['ua-ks']],
            ['ua-kc', jsn['ua-kc']],
            ['ua-zt', jsn['ua-zt']],
            ['ua-sm', jsn['ua-sm']],
            ['ua-dt', jsn['ua-dt']],
            ['ua-dp', jsn['ua-dp']],
            ['ua-kk', jsn['ua-kk']],
            ['ua-lh', jsn['ua-lh']],
            ['ua-pl', jsn['ua-pl']],
            ['ua-zp', jsn['ua-zp']],
            ['ua-sc', jsn['ua-sc']],
            ['ua-kr', jsn['ua-kr']],
            ['ua-ch', jsn['ua-ch']],
            ['ua-rv', jsn['ua-rv']],
            ['ua-cv', jsn['ua-cv']],
            ['ua-if', jsn['ua-if']],
            ['ua-km', jsn['ua-km']],
            ['ua-lv', jsn['ua-lv']],
            ['ua-tp', jsn['ua-tp']],
            ['ua-zk', jsn['ua-zk']],
            ['ua-vo', jsn['ua-vo']],
            ['ua-ck', jsn['ua-ck']],
            ['ua-kh', jsn['ua-kh']],
            ['ua-kv', jsn['ua-kv']],
            ['ua-mk', jsn['ua-mk']],
            ['ua-vi', jsn['ua-vi']]
        ];

        // Create the chart
        Highcharts.mapChart('uk-map', {
            chart: {
                map: 'countries/ua/ua-all'
            },

            title: {
                text: 'Рейтинг университетов по регионам'
            },

            subtitle: {
                text: 'Украина'
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            colorAxis: {
                min: 0
            },

            series: [{
                data: data,
                name: 'data',
                states: {
                    hover: {
                        color: '#BADA55'
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }]
        });
    }
    window.onload = function() {
        uk();
    };
</script>

<p class="title-rating"><a style="color: black;" href="/universities"><img class="small-gr" src="/static/img/small-graphic.png" alt="Рейтинг"> Рейтинг ВУЗов</a></p>
<br><br><br><br><br>

<ul type="none">
{% for univer in univers_rating %}
    {% if loop.index < 4 %}
        {% if loop.index % 2 != 0 %}
            <li><p><div id="rectangle"><a style="color: #F63E3E; text-decoration: none" href="/university_info/{{ univer[2] }}">{{ univer[0] }}</a></div><div id="red-square">{{ loop.index }}</div></p></li>
            <br>
        {% else %}
            <li><p><div id="red-square">{{ loop.index }}</div><a class="rating-text" style="color: #F63E3E; text-decoration: none" href="/university_info/{{ univer[2] }}">{{ univer[0] }}</a></p></li>
            <br>
        {% endif %}
    {% else %}
        {% if loop.index % 2 != 0 %}
            <li><p><div id="rectangle"><a style="color: #404040; text-decoration: none" href="/university_info/{{ univer[2] }}">{{ univer[0] }}</a></div><div id="grey-square">{{ loop.index }}</div></p></li>
            <br>
        {% else %}
            {% if loop.index == 10 %}
                <li><p><a class="rating-text" style="color: #404040; text-decoration: none" href="/university_info/{{ univer[2] }}">{{ univer[0] }}</a><div id="square-ten">{{ loop.index }}</div></p></li>
            {% else %}
                <li><p><a class="rating-text" style="color: #404040; text-decoration: none" href="/university_info/{{ univer[2] }}">{{ univer[0] }}</a><div id="grey-square">{{ loop.index }}</div></p></li>
            {% endif %}
            <br>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>

<div id="uk-map"></div>
{% endblock %}